# Arquivos temporários
obj/
bin/
*.suo
*.user
*.userprefs

# Logs e arquivos gerados automaticamente
*.log
*.vspscc
*.vsp
*.scc

# Arquivos do Visual Studio
.vscode/
.vs/

# Arquivos de configuração
*.dll.config
*.exe.config

# Arquivos de depuração
[Dd]ebug/
[Rr]elease/

# Arquivos de cache do ReSharper
_ReSharper.*/

# Pasta de pacotes NuGet
packages/

# Arquivos de cache e de rastreamento de teste
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
